/* Defaults */
:root {
  /* Colors */
  --black: #353535;
  --cpl-red: #dc4405;
  --cpl-green: #a1c63c;
  --cpl-blue: #22356F;
  --pacific: #582C83;
  --calvary: #DA291C;
  --edmonton: #004C97;
  --valour: #7C2529;
  --forge: #DC4405;
  --york: #046A38;
  --atletico: #E4002B;
  --halifax: #41B6E6;
  
  /* Fonts */
  --base-font-size: 14px;
  --title-color: var(--black);
}

/* Body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--base-font-size);
  color: var(--black);
}

@media (min-width: 1080px) {
  body {
    --base-font-size: 16px;
  }
}

@media (min-width: 1400px) {
  body {
    --base-font-size: 18px;
  }
}

.emoji {
  font-weight: 400;
  font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Charts */
.ReactChart svg {
    overflow: visible !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

/* Grids */
.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 1em;
} 

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* Team Pages */
body .pacific {
  --title-color: var(--pacific)
}
body .calvary {
  --title-color: var(--calvary)
}
body .edmonton {
  --title-color: var(--edmonton)
}
body .valour {
  --title-color: var(--valour)
}
body .forge {
  --title-color: var(--forge)
}
body .york {
  --title-color: var(--york)
}
body .atletico {
  --title-color: var(--atletico)
}
body .halifax {
  --title-color: var(--halifax)
}
