/* Defaults */
:root {
  /* Colors */
  --black: #353535;
  --cpl-red: #dc4405;
  --cpl-green: #a1c63c;
  --cpl-blue: #22356F;
  --pacific: #582C83;
  --calvary: #DA291C;
  --edmonton: #004C97;
  --valour: #7C2529;
  --forge: #DC4405;
  --york: #046A38;
  --atletico: #E4002B;
  --halifax: #41B6E6;
  
  /* Font Sizes */
  --base-font-size: 13px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: var(--black);
}

@media (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}

.emoji {
  font-weight: 400;
  font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactChart svg {
    overflow: visible !important;
}
